<h1>Welcome to the Galaxy!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%= link_to 'User Index', users_path %>
<%= link_to 'Roles Index', roles_path %>
<%= link_to 'Game List', video_games_path %>

